.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.player{
  height: 100%;
  display: grid;
  grid-template-areas: 
  "video video controls"
  "video video controls"
  "track track controls"
  ;
  padding: 2%;
}

@media screen and (max-width: 760px){
  .player {
    grid-template-areas: 
    "video"
    "track"
    "controls"
    ;
  }
}

.track{
  grid-area: track;
  padding: 10px;
}

.video{
  grid-area: video;
}

.controls{
  grid-area: controls;
  padding: 10px;
}

.volumeSlider {
  height: 100%;
}

.sidebar {
  width: 20%;
  background-color: darkslategray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2%;
  font-size: 2vmin;
}

.profile-photo {
  object-fit: contain;
  width: 75%;
  max-width: 100px;
  border-radius: 50%;
  
}

.menu {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu > li {
  border-radius: 10px;
  border: 1px solid grey;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  background-color: #fff;
} 

.menu > li:hover {
  background-color: #aaeeaa;
}

.menu > li > a {
  text-decoration: none;
  color: grey;
}

.menu > li > a > span {
  margin-left: 10px;
}

.menu-link-current {
  color: #fff;
}

.routes {
  width: 100%;
  height: 100%;
}

.routes > * {
  width: 100%;
  height: 100%;
}

.navigator {
  height: 80%;
}