@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat&display=swap');

.App {
  width: 100vw;
  height: 100vh;
  font-size: 2.5vmin;
  background-color: #fdfffd;
  display: flex;
  font-family: 'Montserrat', sans-serif;
}


.title {
  margin: 0;
  padding: 1rem;
  text-align: center;
  font-family: 'Audiowide', cursive;
  color: #252c3e;
  font-size: large;
}

.close-menu, 
.open-menu {
    display: none;
}

.auth-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 25%;
}

.auth-options button {
  font-size: 12px;
  font-weight: 900;
  border: 1px solid grey;
  border-radius: 8px;
  margin: 2.5rem 1rem 0 1rem;
  color: #F6F9FB;
  background-color: #252c3e;
  width: 70%;
  max-width: 150px;
  height: 40px;
  padding: 2px;
}

.auth-options button svg {
  fill: #F6F9FB;
  stroke-width: 50;
  margin-right:10%;
}


.auth-options button:hover {
  background-color: #6579AE;
}

.error-notice {
  margin: 1rem 0;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #e07c7c;
  background-color: rgb(223, 182, 182);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: small;
}

.error-notice button {
  background-color: #7e4444;
  width: 30px;
  height: 30px;
  
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
}

.page {
  max-width: 400px;
  margin: auto;

}

.form label,
.form input {
  display: block;
}

.form input {
  margin-bottom: 1rem;
}

.form label {
  margin-bottom: 0.2rem;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
  width: 100%;
  padding: 0.3rem;
  font-size: 1.1rem;
  background-color: #c2c2c2;
  border-radius: 8px;
  border: 1px solid #cacaca
}

.form input:focus {
  outline: none;
  border: 1px solid #abe2fb;
  box-shadow: inset 0px 0px 5px #abe2fb;
}

.form input[type="submit"] {
  border: 1px solid #6aa851;
  border-radius: 8px;
  font-size: 1.1rem;
  background-color: #E1FCE7;
}




.main-content{
  width: 100%;
  height: 90%;
  display: flex;
  align-items: stretch;
  justify-content: stretch;

}

.player{
  height: 100%;
  display: grid;
  grid-template-areas: 
  "video video controls"
  "video video controls"
  "track track controls"
  ;
  padding: 2%;
}

@media screen and (max-width: 760px){
  .player {
    grid-template-areas: 
    "video"
    "track"
    "controls"
    ;
  }
}

.track{
  grid-area: track;
  padding: 10px;
}

.video{
  grid-area: video;
}

.controls{
  grid-area: controls;
  padding: 10px;
}

.volume-indicator {
  fill: transparent;
  stroke: #abe2fb;
  height: 25px;
  width: 25px;
}


.sidebar {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  font-size: 2vmin;
  transition: all 1s ease;
  z-index: 1;
}
.profile-info {
  border-radius: 20px;
  background-color: #F6F9FB;
  margin: 0 auto;
  min-width: 90%;
  height: 80px;
  display: flex;
  align-items: center;
  
}

.profile-photo {
  object-fit: contain;
  height: 70%;
  max-width: 100px;
  border-radius: 50%;
  margin: 5% 5%;
}

.profile-info {
  width: 50%;
  overflow: hidden;
}

.user-name {
  font-weight: 700;
}

.user-type {
  font-size: 10px;
  color: #c4c4c4;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu > li {
  text-align: center;
  border-radius: 10px;
  padding: 0.5rem;
  margin-bottom: 2rem;
  width: 75%;
  background-color: #fff;
} 

.menu > li:hover {
  background-color: #E1FCE7;
}

.menu > li > a {
  text-decoration: none;
  color: #c4c4c4;
}

.menu > li > a > span {
  margin-left: 10px;

}

.menu-link-current {
  color: #252c3e !important;
}

.routes {
  width: 100%;
  overflow: hidden;
}

.inner {
  width: 100%;
  height: 100%;
  background-color: #f6f9fb;
  border-radius: 20px 20px 0 0;
  margin-top: 50px;
  padding: 2rem;
  overflow: auto;
  max-height: calc(100% - 50px);
}

.inner > * {
  height: 100%;
}


.navigator {
  height: 80%;
}

@media screen and (max-width: 600px) {
  .App {
    display: block;
    height: 100%;
  }
  .close-menu, 
  .open-menu {
    display: block;
    font-size: large;
  }
  .open-menu {
    margin-right: auto;
  }
  .close-menu {
    margin: 10px 0 0 10px;
  }
  .auth-options {
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    width: 100%;
    padding: 1rem;
  }
  .auth-options button {
    margin-top: 0;
  }
  .routes {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 0 10px;
  }
  .sidebar {
    position: absolute;
    top: 0;
    left: -200px;
    width: 200px;
    min-height: 100vh;
    background-color: #fff;
    border-radius: 0 20px 20px 0;
  }

  .profile-info {
    margin-bottom: 20px;
  }
  .open .sidebar {
    left: 0;
    box-shadow: 5px 0 1000px grey;
  }

  .open .routes,
  .open .auth-options {
    filter: blur(0.5px);
  }
}


.collection-grouping {
  width: 90%;
  margin: 0 auto;
}

.group-header {
  display: flex;
  justify-content: space-between;
}

.group-body {
  border: 1px solid grey;
  background-color: #fff;
  border-radius: 10px;
  overflow: auto;
  min-height: 20px;
  font-size: 1.5vmin;
}

.video-info {
  font-size: 1.75vmin;
  color: grey;
}

.video-action {
  color: grey;
}

.video-action:hover{
  color:#252c3e;
}

.collection-detail {
  border: 1px dashed grey;
  margin: 0 auto;
  padding: 10px;
}

.color-display {
  content: " ";
  position: relative;
  top: -5px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  border: 1px solid gainsboro;
}

.play-list .player {
  height: 70%;
}

.play-list-control {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #6579ae;
  border-radius: 5px;
  color: #fff;
  height: 7%;
}

.play-list-control .disabled{
  color: #c4c4c4;
}


.video-play-list {
  width: 70%;
  padding: 1px;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.vid {
  width: 200px;
  border-radius: 5px;
  background-color: rgba(229, 236, 254, 0.52);
  margin: 5px;
  padding: 5px;
  width: 33%;
  font-size: 1.5vmin;
  height: 50%;
  overflow: hidden;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.vid.current {
  background-color: #252c3e;
  height: 75%;
  width: 35%;
}